body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    min-height: 100vh;

    background-image: url("./pildid/toit1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #333;
}

/* INPUT väljad */
input {
    width: 150px; /* või näiteks 120px */
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;       /* ümar kuju */
    border: 1px solid black;    /* piirjoon */
    outline: none;
    font-size: 14px;
}

/* Kui input on aktiivne */
input:focus {
    border-color: #4CAF50;     /* roheline äär */
}

/* NUPP */
button {
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;       /* sama ümarus */
    border: 1px solid black; /* piirjoon */
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Hover efekt */
button:hover {
    background-color: white;
    color: #4CAF50;
}

#filterSelect {
    width: 170px;
    padding: 8px 12px;
    font-size: 14px;

    border: 1px solid black;
    border-radius: 5px;

    outline: none;
    background-color: white;

    cursor: pointer;
}

/* natuke hover efekti */
#filterSelect:hover {
    border-color: #888;
}

ul {
    width: 400px;
    margin-top: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100%;
    
    background: white;
    color: black;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

div {
    background: white;
    padding: 15px;
    border-radius: 10px;
}
